body{
    background-color: white;
     font-family: Helvetica, sans-serif	;
    }
    
    .header_image{
    width: 20px;
    height: 20px;
    position:relative;
    bottom: -120%;
    left: 75%;
    }
    
    .menu_img{
    width: 10px;
    height: 10px;
    position:relative;
    top: 10%;
    padding-top: 3%;
    padding-left: 3%;
    }
    
    h2,h1{
    text-align:center;
    }
    
    h1{
position:center;
    }
    
    header{
    background-color: rgb(255, 255, 255);
    margin-bottom:-2px;
    border-top: 8px solid black;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-right: -1px;
    margin-left: -1px;
    position: fixed;
    width:1280px;
    top:-3px;
    z-index: 1;
    }
    
    .menu{
    padding-top: 3%;
    position:relative;
    top: -2%;
    }
    
    .main_1{
    position: relative;
    bottom: 30%;
    }

    .sectionimg{
        height: 600px;
        width: 1280px;
    }

    section{
        margin: 0px;
        padding: -100px;
        background-color: aqua;
        height: 600px;
    }

    .section_a{
        text-decoration: none;
        position:relative;
        top: -1000px;
        left: 30%;
        color: white;
        font-size:230%;
        text-shadow:3px 3px 4px black;
        font-weight: 200;
        align-items: center;
    }

    .fo11{
        padding-top: 500px;

    }

    .button{
        color: black;
        text-decoration:none;
        background-color: white;
        box-shadow: 0px 0px 2px 2px rgb(57, 57, 57);
        position:relative;
        top: -950px;
        left: 18%;
        size:30%;
        padding:13px;
        margin-top: 10px;
    }

    .fo2{

        background-color: blue;
    }
    .fo4{
        
    }
