body{
    background-color: white;
     font-family: Helvetica, sans-serif	;
    }
    
    .header_image{
    width: 20px;
    height: 20px;
    position:relative;
    bottom: -120%;
    left: 75%;
    }
    
    .menu_img{
    width: 10px;
    height: 10px;
    position:relative;
    top: 10%;
    padding-top: 3%;
    padding-left: 3%;
    }
    
    h2,h1{
    text-align:center;
    }
    
    h1{
    position:relative;
    text-align:center;
    top: -90%;
    }
    
    header{
    background-color: rgb(255, 255, 255);
    margin-bottom:-2px;
    border-top: 6px solid black;
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-top: -2px;
    margin-right: -1px;
    margin-left: -1px;
    position: fixed;
    width:1280px;
    z-index: 1;
    }
    
    .menu{
    padding-top: 3%;
    position:relative;
    top: -2%;
    }
    
    .main_1{
    position: relative;
    bottom: 30%;
    }

    .sectionimg{
        height: 500px;
    }

    section{
        margin: -7px;
    }

    .section_a{
        text-decoration: none;
        position:relative;
        top: -850px;
        left: 30%;
        color: white;
        font-size:230%;
        text-shadow:3px 3px 4px black;
        font-weight: 200;
    }

    .fo11{
        padding-top: 500px;
    }
